.top-block{
    background: url('../image/Travel.png');
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.top-block__header-text{
    font-family: 'Lora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

.top-block__header-menu-text{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.top-block__text-header{
    font-family: 'Lora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin: 100px 0 10px;
}

.top-block__text-quote{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
}

.top-block__button{
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 30px 13px;
    color:white;
    background: #DD783F;
    border-radius: 3px;
}

.top-block__menu-text{
    font-family: 'Lora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #768088;
    text-decoration: none;
}

.main-block{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 108px;
}

.main-block-high{
    display: flex;
    flex-direction: column;
}

.main-block-high__info-tag{
    width: 87px;
    height: 26px;
    background-color: #DD783F;
    border-radius: 3px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 20px 0 0 20px;
}

.main-block-high__info-tag-text{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.main-block-high__header{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2px;
    margin: 50px 0 0;
}

.main-block-high__info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-block-high__info-header-text{
    font-family: 'Lora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0 0 6px 20px;
}

.main-block-high__info-main-text{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 0 0 20px;
}

.main-block-high__post-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 20px;
}

.main-block-high__person{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.main-block-high__person-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main-block-high__date{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.main-block-high__info-1{
    background: url('../image/TheRoadAhead.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 8px 0 0;
    width: 460px;
    height: 280px;
}

.main-block-high__info-2{
    background: url('../image/FromTopDown.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 0 8px;
    width: 460px;
    height: 280px;
}

.main-block-high__info-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90%;
}

.main-block-post-info-image{
    width: 26px;
    height: 26px;
    padding: 0 10px 0 0;
}

.main-block__posts{
    display: flex;
    flex-direction: column;
    width: 936px;
    margin: 0;
}

.main-block-arcticles{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.main-block-arcticle__post{
    background-color: #FFFFFF;
    width: 296px;
    height: 291px;
    display: flex;
    flex-direction: column;
}

.main-block-arcticle__post-image{
    width: 296px;
    height: 150px;
}
.main-block-arcticle__post-text{
    display: block;
    flex-direction: column;
    height: 32%;
    margin: 14px 0 0 14px;

}

.main-block-arcticle__post-header-text{
    font-family: 'Lora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
    margin: 0 0 6px 0;
}

.main-block-arcticle__post-quot-text{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
    margin: 0;
}

.main-block-arcticle__post-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0;
    height: 48px;
    background-color: #FCFCFC;
    border-top: 1px solid #EFEFEF;
}

.main-block-arcticle__person-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main-block-arcticle__person{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

.main-block-arcticle__date{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}